<%= flash[:notice] %>
<table>
	<thread>
		<tr>
			<th><%= link_to "Name", :sort => "name" %></th>
			<th><%= link_to "Date", :sort => "date" %></th>
			<th><%= link_to "Number", :sort => "number" %></th>
			<th>Description</th>
		</tr>
	</thread>
	<tbody>
		<% @employees.each do |employee| %>
			<tr>
				<td><%= employee.name %></td>
				<td><%= employee.date %></td>
				<td><%= employee.number %></td>
				<td><%= employee.description %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div>
	<h4>Import File</h4>
		<%= form_tag import_employees_path, multipart: true do %>
			<%= file_field_tag :file %>
			<%= submit_tag "Import CSV" %>
		<% end %>
</div>